#####################################################################
#
#     配置文件格式为 ‘YAML’，推荐使用 Visual Studio Code 浏览和编辑。
#          前往 ‘https://yaml.org/’ 查阅 YAML 配置语法
#
#           除了布尔值和整数、浮点数之外的配置，请使用引号包裹起来。
#
#    BUG REPORTS:   https://github.com/CaaMoe/MultiLogin/issues
#####################################################################

# 开启插件 DEBUG 日志。
#
# 此选项将会把插件内所有 DEBUG 日志转换成 INFO 日志。
# 默认值 false
debug: false

# 向登录成功的玩家发送欢迎消息。
#
# 默认值 true
welcomeMsg: true

# 开启更新检查
#
# 插件将半天进行一次更新检查
# 默认值 true
checkUpdate: true

# 强制使用此登录
#
# 即强制使用 MultiLogin 来登录游戏。
# 默认值 true
forceUseLogin: true

# floodgate 支持
# 启用此闸门支持将会代理 floodgate 入口以让猫踢螺钉控制 floodgate 入口的玩家档案
#
# 警告：此功能将会使 floodgate 的账户连接功能失效，包括全球连接！
# 默认组 false
floodgateSupport: false

# 设置用户名正则约束。
# 若不匹配将会拒绝指令或当前玩家的登录请求。
# 如果此值留空，则不启用此功能。
#
# 默认值 ‘^[0-9a-zA-Z_]{3,16}$’
nameAllowedRegular: '^[0-9a-zA-Z_]{3,16}$'

# 在线档案在用户名重复时末尾是否补全数字以允许登录服务器
# 意思是名字冲突了在它的名字后面加个数字
# 比如 Steven 登录游戏后发现名字被别人占用了，那它在游戏里面的名字就为 Steven1
#
# 默认值 true
nameCorrect: true

# 当在线档案改名后是否自动 erase 老的档案用户名称并且分配在线档案用户名给当前档案使用（不忽略重名检查）
#
# 默认值 true
autoNameChange: true

# 风险指令二次确认过期时间设置
#
# 默认值 15000
confirmCommandValidTimeMills: 15000

# link指令接受过期时间设置
#
# 默认值 30000
linkAcceptValidTimeMills: 30000

# 插件数据设置
sql:

  # 数据库类型设置
  #
  # 请使用以下值:
  #   H2
  #   MYSQL
  # 默认值 ‘H2’
  backend: 'H2'

  # 数据库访问地址
  #
  # 默认值 ‘127.0.0.1’
  ip: 127.0.0.1

  # 端口
  #
  # 默认值 ‘3306’
  port: 3306

  # 用户名
  #
  # 默认值 ‘root’
  username: root

  # 访问密码
  #
  # 默认值 ‘root’
  password: root

  # 数据库名称
  #
  # 默认值 ‘multilogin’
  database: multilogin

  # 使用的数据表前缀。
  #
  # 使用时将会补充后缀符号 ‘_’
  # 请不要随意更改它，否则数据将消失
  # 默认值 ‘multilogin’
  tablePrefix: multilogin

  # 高级设定，指定连接 URL
  #
  # 默认值 ’‘
  connectUrl: ''