name: Java CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Patch Gradle Repositories
        run:
          sed -ni '/https:\/\/maven.aliyun.com\/repository\/public/{h;n;/https:\/\/repo1.maven.org\/maven2/!{:a;N;/https:\/\/maven.aliyun.com\/repository\/public/!ba;x;H;n};x;H;x};p' repositories

      - name: Build Bukkit
        uses: gradle/gradle-command-action@v1
        with:
          arguments: :bukkit:ShadowJar
          gradle-version: 7.4
          
      - name: Build Bungee
        uses: gradle/gradle-command-action@v1
        with:
          arguments: :bungee:ShadowJar
          gradle-version: 7.4
          
      - name: Build Velocity
        uses: gradle/gradle-command-action@v1
        with:
          arguments: :velocity:ShadowJar
          gradle-version: 7.4
          
      - name: Build DataUpgrade
        uses: gradle/gradle-command-action@v1
        with:
          arguments: :dataUpgrade:ShadowJar
          gradle-version: 7.4

      - name: Build Fabric
        uses: gradle/gradle-command-action@v1
        with:
          arguments: :fabric:build
          gradle-version: 7.4

      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
      - name: Upload to artifact respectively
        uses: MuirProject/upload-artifact@v2-beta
        with:
          name: '["Output"]'
          path: '*/build/libs/MultiLogin-*.jar'
          retention-days: 15
